html {
  box-sizing: border-box;
  font-family: Pretendard Std, Pretendard, Pretendard JP, Noto Sans SC,
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  position: relative;
  background: #1b1b1b;
  color: #ececec;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
span,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 400;
}

p,
span {
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: inline-block;
  vertical-align: top;
}
