.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #242424;
}
.navigations ul {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.nav-end-two {
  font-size: 1.1rem;
}
.navigations img {
  height: auto;
  width: 12em;
}
.navigations li {
  padding: 12px;
}
.nav-contact a {
  border: 1px solid #e1298b;
  padding: 7px 30px 7px 30px;
  border-radius: 20px;
  font-size: 1.2rem;
}
.nav-contact a:hover {
  background: linear-gradient(to left, #d040b0, #e91e71);
}
.active {
  color: #e32986;
}
.player {
  width: auto;
  height: 450px;
}
.home-block1 {
  margin: 2.5vh 19vw 3vh 20vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.home-block1 h1 {
  font-size: 4rem;
  font-weight: bold;
}
.home-block1 span {
  font-size: 4rem;
  font-weight: bold;
}
.home-block1 h1 {
  color: #e91e71;
}
.home-block1 span {
  color: #d040b0;
}
.home-block1 p {
  margin-top: 20px;
}
.home-block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0vh 19vw 0vh 20vw;
}
.home-block2 span {
  color: #d040b0;
}
.home-block2 h1 {
  color: #e91e71;
  font-weight: bold;
}
.home-block2 p {
  margin-top: 10px;
  text-align: center;
}
.home-block2 a {
  margin-top: 30px;
  font-size: 1.6rem;
  border: 2px solid #e91e71;
  padding: 4px 60px 5px 60px;
  border-radius: 30px;
  font-weight: 500;
}
.home-block2 a:hover {
  background: linear-gradient(to left, #d040b0, #e91e71);
}
.footer {
  position: absolute;
  bottom: 0;
  border-top: 2px solid rgb(43, 43, 43);
  width: 100%;
  text-align: center;
  padding: 8px;
  background: #2e2e2e;
}
.footer span {
  color: #d040b0;
}
.about-block1 {
  text-align: center;
  margin: 3.5vh 19vw 3vh 20vw;
}
.about-block1 h1 {
  font-weight: bold;
  color: #e91e71;
}
.about-block1 p {
  margin-top: 20px;
}
.about-block1 span {
  color: #d040b0;
}
.list-button {
  margin-top: 10vh;
  font-size: 1.6rem;
  border: 2px solid #e91e71;
  padding: 4px 60px 5px 60px;
  border-radius: 30px;
  font-weight: 500;
}
.contact-wrapper {
  margin: 7vh 19vw 3vh 20vw;
}
.contact-block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-block1 form {
  width: 50%;
}
.contact-block1 p {
  margin-bottom: 6px;
}
.contact-email-block1,
.contact-subject-block1 {
  display: inline-block;
  width: 49%;
}
.contact-subject-block1 {
  margin-left: 0.7rem;
}
.contact-block1 input {
  width: 100%;
  padding: 1em 1em;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border: 1px solid #161616;
  background: #242424;
  margin-bottom: 1.5vh;
  color: #fff;
}
.contact-block1 textarea {
  width: 100%;
  padding: 1em 1em;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #161616;
  background: #242424;
  resize: none;
  color: #fff;
  z-index: 100;
}
.contact-block1 button {
  display: block;
  margin-top: 1rem;
  padding: 1vh 2vw 1vh 2vw;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  background: #d040b0;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.contact-block1 h1 {
  margin-bottom: 4vh;
  color: #e91e71;
  font-size: 2.4rem;
}
.contact-lables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}
.contact-block2 h1 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #242424;
  line-height: 0.2em;
  margin: 9vh 0 4vh;
}
.contact-block2 span {
  font-size: 1.8rem;
  background: #1b1b1b;
  padding: 0 10px;
}
.contact-lable {
  display: flex;
  background: linear-gradient(200deg, #d040b0, #e91e71);
  border-radius: 0.5rem;
  padding: 1rem;
}
.contact-lable svg {
  height: auto;
  width: 2rem;
  margin-right: 2%;
}
.contact-lables:hover a {
  opacity: 0.5;
}
.contact-lables a:hover {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .contact-wrapper {
    margin: 7% 8% 7% 8%;
  }
  .contact-subject-block1 {
    margin-left: 0;
  }
  .contact-block1 form {
    width: 100%;
  }
  .contact-email-block1,
  .contact-subject-block1 {
    display: inline-block;
    width: 100%;
  }
  .contact-block1 button {
    margin-top: 1.3rem;
  }
  .footer {
    margin: 0 0 -100px 0;
  }
  .contact-block1 button {
    padding: 1.2vh 4vw 1.2vh 4vw;
  }
  .home-block1 {
    margin: 7% 8% 7% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
  }
  .home-block2 {
    margin: 7% 8% 7% 8%;
    align-items: flex-start;
  }
  .home-block2 p {
    text-align: start;
  }
}
